@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:wght@500&display=swap');

html {
  height: 100%;
  width: 100%;
  background-color:teal;
}

.button {
  width: 66px;
  padding: 20px;
  margin: 0 3px;
  border: 2px solid black;
  border-radius: 9px;
  cursor: pointer;
  background-color: rgb(62, 96, 9);
}

.row {
  margin: 4px 0;
}

.row input {
  width: 291px;
  font-size: 19px;
  margin: 0;
  padding: 10px 0px;
  border: 2px solid black;
  border-radius: 5px
}